/* General styles */
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  height: 100%;
  display: flex; 
  flex-direction: column; 
}

.container {
  flex: 1; 
  display: flex; 
}

.left-container {
  flex: 1;
  margin-right: 20px; 
}

.middle-container {
  flex: 2; 
  margin-right: 20px; 
}

.right-container {
  flex: 1; 
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: rgb(255, 255, 255);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.logo img {
  height: 60px;
  margin-right: 5px;
}

.last-update {
  font-size: 16px;
  text-align: right;
}

/* Page content styles */
h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
  color: #0F80EF;
}

.description {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

#googleMap {
  height: 650px;
  width: 100%;
  margin-bottom: 40px;
}

/* Marker icon styles */
.marker-icon {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-icon img {
  max-width: 80%;
  max-height: 80%;
}

/* Media queries */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  .description {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  .description {
    font-size: 16px;
  }
}

/* Legend styles */
.my-legend {
  margin-left: 20px;
}

.my-legend .legend-title {
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 32px;
  color: #0F80EF;
}

.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-legend ul.legend-labels li {
  display: flex;
  align-items: center;
  font-size: 32px; 
  list-style: none;
  margin-left: 0;
  line-height: 60px;
}

.my-legend ul.legend-labels li img {
  margin-right: 20px;
  width: 40px; 
  height: 40px; 
}


.my-legend ul.legend-labels li span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; 
  width: auto;
  padding: 5px 10px; 
  font-size: 24px; 
}

.my-legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
}

.my-legend a {
  color: #777;
}

.my-legend ul.legend-labels li {
  display: flex;
  align-items: center;
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}

#messageContainerCam {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f8f8f8; 
  padding: 20px;
  display: none;
  text-align: center;
  font-size: 22px; 
}

#messageContainerDenm {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f8f8f8; 
  padding: 20px;
  display: none;
  text-align: center;
  font-size: 22px; 
}

.content-wrapper {
  display: flex;
}

.container-left {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #0F80EF;
  border-radius: 5px;
}

.container-middle {
  flex: 3;
  height: 650px;
  margin-left: 20px;
  margin-right: 20px;
}

.legend-wrapper {
  flex: 1;
}

.container-right {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #0F80EF;
  border-radius: 5px;
}