<!DOCTYPE html>
<html>
<head>
    <title>Emergency Vehicle Notification System</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/images/logo.png" alt="logo">
        </div>
        <div class="last-update">
            <p id="lastUpdate"></p>
        </div>
    </header>
    <h1>Emergency Vehicle Notification System</h1>
    <div class="container">
        <div class="left-container">
            <div class='my-legend'>
                <div class='legend-title'>Cooperative Awareness Message</div>
            </div>
            <div id="messageContainerCam"></div>
            <div class='my-legend'>
                <div class='legend-title'>Decentralized Environmental Notification Message</div>
            </div>
            <div id="messageContainerDenm"></div>
        </div>
        <div class="middle-container">
            <div id="googleMap"></div>
        </div>
        <div class="right-container">
            <div class='my-legend'>
                <div class='legend-title'>Legend</div>
                <div class='legend-scale'>
                    <ul class='legend-labels'>
                        <li><img src="/static/images/car.png" alt="Car" ><span>Car</span></li>
                        <li><img src="/static/images/ambulance.png" alt="Ambulance"><span>Ambulance</span></li>
                        <li><img src="/static/images/police.png" alt="Police Car"><span>Police Car</span></li>
                        <li><img src="/static/images/fire.png" alt="Firefighters"><span>Firefighters</span></li>
                        <li><img src="/static/images/hospital-building.png" alt="Hospital"><span>Hospital</span></li>
                        <li><img src="/static/images/rsu.png" alt="RSU" style="width: 35px; height: 35px;"><span>RSU</span></li>
                        <li><img src="/static/images/trafficlight.png" alt="Traffic Lights" style="width:45px;height:35px;"><span>Traffic Lights</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
        
    <script>
        var map;
        var cars;
        var ambulance;
        var police;
        var firefighters;
        var hospital;
        var traffic_lights;
        
        function myMap() {
            var mapProp= {
                center:new google.maps.LatLng(40.634723, -8.655046),
                zoom:16,
                styles: [{featureType: "poi", stylers: [{visibility: "off"}]}]
            };
            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            
            var carIcon = {
            url: "/static/images/car.png",
            scaledSize: new google.maps.Size(30, 30),
            };

            var ambulanceIcon = {
            url: "/static/images/ambulance.png",
            scaledSize: new google.maps.Size(30, 30),
            };

            var policeIcon = {
            url: "/static/images/police.png",
            scaledSize: new google.maps.Size(30, 30),
            };

            var firefightersIcon = {
            url: "/static/images/fire.png",
            scaledSize: new google.maps.Size(30, 30),
            };

            var hospitalIcon = {
            url: "/static/images/hospital-building.png",
            scaledSize: new google.maps.Size(40, 40),
            };

            var traffic_lightsIcon = {
            url: "/static/images/trafficlight.png",
            scaledSize: new google.maps.Size(40, 25),
            };
            
            var rsuIcon = {
            url: "/static/images/rsu.png",
            scaledSize: new google.maps.Size(30, 30),
            };

            cars = new google.maps.Marker({
                position: new google.maps.LatLng(0,0),
                map: map,
                icon: carIcon,
            }); 

            ambulance = new google.maps.Marker({
                position: new google.maps.LatLng(0,0),
                map: map,
                icon: ambulanceIcon,
            });

            police = new google.maps.Marker({
                position: new google.maps.LatLng(0, 0),
                map: map,
                icon: policeIcon,
            });

            firefighters = new google.maps.Marker({
                position: new google.maps.LatLng(0, 0),
                map: map,
                icon: firefightersIcon,
            });

            hospital = new google.maps.Marker({
                position: new google.maps.LatLng(40.634723, -8.655046),
                map: map,
                icon: hospitalIcon,
            });
          
            
            // Add a global variable to store the RSU circles
            var rsuCircles = [];

            // get the rsu variable from app.py
            var rsu = {{ rsu|tojson }};

            // get the cam variable from app.py
            var cam = {{ cam|tojson }};

            // get the denm variable from app.py
            var denm = {{ denm|tojson }};

            
            // loop through the list and add markers
            for (var i = 0; i < rsu.length; i++) {
                // check if the rsu[i][4]=="ANTENNA_RSU"
                if (rsu[i][4]=="ANTENNA_RSU"){
                    var rsuMarker = new google.maps.Marker({
                        position: new google.maps.LatLng(rsu[i][1], rsu[i][2]),
                        map: map,
                        icon: rsuIcon,
                    });
                }
                else{
                    var traffic_lights = new google.maps.Marker({              
                        position: new google.maps.LatLng(rsu[i][1], rsu[i][2]),
                        map: map,
                        icon: traffic_lightsIcon,
                    });
                }             
            }
            
            addRSUCircles(rsu,denm);

            function addRSUCircles(rsu, denm) {
                // Remove existing circles from the map
                for (var i = 0; i < rsuCircles.length; i++) {
                    rsuCircles[i].setMap(null);
                }
                rsuCircles = [];

                var circleOptions = {
                    strokeWeight: 2,
                    fillOpacity: 0.35,
                    map: map,
                    clickable: false,
                    radius: 200,  // 200 meters
                };

                for (var i = 0; i < rsu.length; i++) {
                    var circleColor = "#FF0000";  // Red color by default
                    // Check if there is a denm message inside the circle
                    for (var j = 0; j < denm.length; j++) {
                        var denmPosition = new google.maps.LatLng(denm[j][0], denm[j][1]);
                        var rsuPosition = new google.maps.LatLng(rsu[i][1], rsu[i][2]);    
                        
                        // Calculate the distance between OBU and RSU
                        var distance = google.maps.geometry.spherical.computeDistanceBetween(denmPosition, rsuPosition);
                        
                        if (distance <= circleOptions.radius) {
                            circleColor = "#00FF00";  // Green color if OBU is inside the circle
                            break;  // No need to check further OBUs for this RSU
                        }
                    }
                    // Set circle options with the color determined
                    var rsuCircle = new google.maps.Circle(Object.assign({}, circleOptions, {
                        strokeColor: circleColor,
                        fillColor: circleColor
                    }));
                    rsuCircle.setCenter(new google.maps.LatLng(rsu[i][1], rsu[i][2]));

                    // Add the circle to the array
                    rsuCircles.push(rsuCircle);
                }
            }

            // Function to update the content with the latest data
            function updateContent() {
                $.get("/get_data", function(data) {
                    // Update the RSU circles
                    addRSUCircles(data.rsu, data.denm);

                    ambulance.setPosition(new google.maps.LatLng(data.cam[0][0], data.cam[0][1]));
                    cars.setPosition(new google.maps.LatLng(data.cam[1][0], data.cam[1][1]));
                    police.setPosition(new google.maps.LatLng(data.cam[2][0], data.cam[2][1]));
                    firefighters.setPosition(new google.maps.LatLng(data.cam[3][0], data.cam[3][1]));
                    
                    // Check if there is any information
                    var hasInformationCam = data.cam.length > 0;

                    // Check if there is any information
                    var hasInformationDenm = data.denm.length > 0;

                    // Update the last update time
                    var now = new Date();
                    document.getElementById("lastUpdate").innerHTML = "Last update: " + now.toLocaleString();
                    
                    // Update the message container Cam
                    var messageContainerCam = document.getElementById("messageContainerCam");
                    messageContainerCam.innerHTML = ""; // Clear the container before adding new messages
                    if (hasInformationCam) {
                        messageContainerCam.style.display = "block";
                    } else {
                        messageContainerCam.style.display = "none";
                    }

                    // Update the message container DENM
                    var messageContainerDenm = document.getElementById("messageContainerDenm");
                    messageContainerDenm.innerHTML = ""; // Clear the container before adding new messages
                    if (hasInformationDenm) {
                        messageContainerDenm.style.display = "block";
                    } else {
                        messageContainerDenm.style.display = "none";
                    }

                    // Loop through each OBU and add its message to the container
                    for (var i = 0; i < data.cam.length; i++) {
                        var camMessage = "OBU " + (i + 1) + " (" + data.cam[i][0] + ", " + data.cam[i][1] + ")";

                        // Create a new div element for the OBU message
                        var camMessageDiv = document.createElement("div");
                        camMessageDiv.textContent = camMessage;

                        // Append the OBU message div to the container
                        messageContainerCam.appendChild(camMessageDiv);
                    }
                    // Loop through each OBU and add its message to the container
                    for (var i = 0; i < data.denm.length; i++) {
                        var denmMessage = "DENM sent by id " + (i + 1) + " (" + data.denm[i][0] + ", " + data.denm[i][1] + ")";

                        // Create a new div element for the OBU message
                        var denmMessageDiv = document.createElement("div");
                        denmMessageDiv.textContent = denmMessage;

                        // Append the OBU message div to the container
                        messageContainerDenm.appendChild(denmMessageDiv);
                    }

                });
            }
            
            // Periodically update the content every 500ms
            setInterval(updateContent, 500);

        }
    </script>
   
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcLG_2KgktdQJXLaeyQZHJzmvcSjNwoPM&callback=myMap&libraries=geometry"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>
</html>